    <!-- Footer -->
    <footer id="footer">
        &copy;The Circuit Board 2017
    </footer>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Footer Ad -->
    <ins class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px"
        data-ad-client="ca-pub-3344309615358514"
        data-ad-slot="2191937986">
    </ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</body>

</html>