*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    background-color: #555;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #222;
}

html {
    background: white;
}

body {
    opacity: 1;
    transition: 1s opacity;
    display: block;
}

body.fade-out {
    opacity: 0;
    transition: none;
}


/* Navbar */

.topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    max-height: 46px;
    position: fixed;
    top: 0;
    z-index: 99999;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: Tahoma, sans-serif;
    font-weight: 700;
}

.topnav form {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 13px 13px;
    text-decoration: none;
    font-size: 15px;
    font-family: Tahoma, sans-serif;
    font-weight: 700;
}

#home {
    margin-left: 50px;
}


/* Underline From Center */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;    bottom: 0;
    background: #f2f2f2;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.icons {
    float: right;
}

#search-box {
    border-radius: 36px;    border: none;
    outline: 0;
    height: 20px;
    margin-bottom: 20px;
}

input[type="text"]#search-box::-webkit-input-placeholder {
    padding-left: 1px;
    font-family: Tahoma;
}
0input[type="text"]#search-box {
    padding-left: 10px;
    font-family: Tahoma;
}

#search {
    background: transparent;
    border: none;
    color: #fff;
    transition: color .3s ease-in-out;
1}
#search:active, #search:focus, #search-box:active, #search-box:focus {
    border: none;    outline: 0;
}

#search:hover {
    color: #c9c9c9;
}
#twitter {
    transition: color .3s ease-in-out;
}
#twitter:hover {    color: #4099FF;
}
#instagram {
    transition: color .3s ease-in-out;
}

#instagram:hover {
    color: #cd486b;
}
#g-plus {
    transition: color .3s ease-in-out;
}

#g-plus:hover {
    color: #DD4B39;
}

#title {
    color: grey;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}


/* Wrapper */

.wrapper {
    margin-left: 10%;
    margin-right: 10%;
    width: 1060px;
}

#logo {
    text-align: center;
    background: url(/images/Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    transform: scale(1.37);
}

/* Articles */

article {
    font-family: 'Rubik', sans-serif;
    color: grey;
    display: inline-block;
    margin-top: 20px;
}

article h1 {
    font-size: 40px;
}

article h6 {
    font-size: 18px;
}

article h1 a {
    color: grey;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

article h1 a:hover {
    color: #222;
}

.postmeta {
    font-size: 13px;
    color: grey;
}

.postmeta .date {
    margin-right: 10px;
}

.post img {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

.postinfo {
    color: grey;
    margin-top: 10px;
    margin-right: 15%;
}


/* Icon Forward */

.hvr-icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-right: 2.2em;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.hvr-icon-forward:before {
    content: "\f061";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-forward:hover:before, .hvr-icon-forward:focus:before, .hvr-icon-forward:active:before {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}

.rdmore {
    text-decoration: none;
    color: #4e4e4e;
    font-weight: 700;
}

/* Seaerch */

.search {
    padding-top: 5%;
    padding-left: 5%;
}

.search form {
    padding-left: 2.5%;
}

#search-results {
    font-family: 'Rubik', sans-serif;
    list-style-type: none;
    display: inline-block;
}

#search-results li {
    margin-bottom: 10%;
}

#search-results h3 {
    margin-left: calc(256px + 20px);
}

#search-results a, #search-results a:visited {
    text-decoration: none;
    color: grey;
    transition: color .2s ease-in-out;
}

#search-results a:hover {
    color: #222;
}

#search-results p {
    margin-left: calc(256px + 20px);
}

#search-results img {
    width: 256px;
    height: 135px;
    float: left;
}

.flexsearch--wrapper {
    height: auto;
    width: auto;
    max-width: 100%;
    overflow: hidden;
    background: transparent;
    margin: 0;
    position: static;
    margin-bottom: 50px;
}
    
.flexsearch--form {
    overflow: hidden;
    position: relative;
}
    
.flexsearch--input-wrapper {
    padding: 0 66px 0 0; /* Right padding for submit button width */
    overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

.flexsearch {
  padding: 0 50px 0 0px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
  padding: 0 46px 0 10px;
    border-color: #888;
  border-radius: 25px; /* (height/2) + border-width */
  border-style: solid;
    border-width: 5px;
    margin-top: 15px;
    color: #333;
    font-family: 'Helvetica', sans-serif;
    font-size: 26px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
    
.flexsearch--submit {
  position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 60px;
    height: 40px;
  padding: 0;
  border: none;
    margin-top: 20px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
    background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 40px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
    color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
    color: #888;  
}

input:-moz-placeholder {
  color: #888
}

/* Trending */

.sidebar {
    width: 350px;
    float: right;
    margin-left: 10px;
    margin-top: 60px;
}

.trending {
    float: right;
    margin-right: 10px;
    z-index: 999;
    display: block;
    text-align: center;
}

#ttitle {
    font-size: 50px;
}

.trending span {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    background: -webkit-linear-gradient(0deg, #ff4c4c, #ff385d, #fc6331);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sexy_line {
    margin-bottom: 10px;
    height: 1px;
    border: 0;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, grey));
}

.trending h2 {
    font-size: 16px;
    text-align: left;
}

.trending a {
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    color: grey;
    transition: color .2s ease-in-out;
    float: left;
}

.trending a:hover {
    color: black;
}

.trending img {
    margin-top: 5px;
    margin-bottom: 20px;
    align-items: center
}

/* Footer */

#footer {
    text-align: center;
    color: grey;
    font-family: Tahoma, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer a {
    color: red;
    text-decoration: none;
    transition: color .2s ease-out;
}

#footer a:hover {
    color: #cd0101;
}

/* Dark Mode */
.darkmode {
    background: #222;
}

.darkmode article h1 a {
    color: #a9a9a9;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

.darkmode article h1 a:hover {
    color: #f2f2f2;
}

.darkmode .postmeta {
    font-size: 13px;
    color: #a9a9a9;
}

.darkmode .postinfo {
    color: #f2f2f2;
}

.darkmode .rdmore {
    color: white;
}

.darkmode .sexy_line {
    margin-bottom: 10px;
    height: 1px;
    border: 0;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#222), to(#222), color-stop(50%, grey));
}

.darkmode .trending a {
    color: #a9a9a9;
}

.darkmode .trending a:hover {
    color: #f2f2f2;
}

.darkmode #footer {
    color: white;
}

/* Page Resize */
@media screen and (max-width: 1000px) {
    .wrapper {
        width: 800px;
    }
    .sidebar {
        width: 200px;
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        width: 800px;
    }
    .sidebar {
        height: 0;
        width: 0;
        opacity: 0;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        width: 500px;
    }
    .sidebar {
        height: 0;
        width: 0;
        opacity: 0;
    }
}
