* {
  margin: 0;
}

html {
  background: white;
}

body {
  opacity: 1;
  transition: 1s opacity;
}

body.fade-out {
  opacity: 0;
  transition: none;
}


/* Navbar */

.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  max-height: 46px;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: Tahoma, sans-serif;
  font-weight: 700;
}

.topnav form {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 13px 13px;
    text-decoration: none;
    font-size: 15px;
    font-family: Tahoma, sans-serif;
    font-weight: 700;
}

#home {
  margin-left: 50px;
}


/* Underline From Center */

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #f2f2f2;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.icons {
  float: right;
}

#search-box {
    border-radius: 36px;
    border: none;
    outline: 0;
    height: 20px;
    margin-bottom: 20px;
}

input[type="text"]#search-box::-webkit-input-placeholder {
    padding-left: 1px;
    font-family: Tahoma;
}

input[type="text"]#search-box {
    padding-left: 10px;
    font-family: Tahoma;
}

#search {
    background: transparent;
    border: none;
    color: #fff;
    transition: color .3s ease-in-out;
}

#search:active, #search:focus, #search-box:active, #search-box:focus {
    border: none;
    outline: 0;
}

#search:hover {
    color: #c9c9c9;
}

#twitter {
  transition: color .3s ease-in-out;
}

#twitter:hover {
  color: #4099FF;
}

#instagram {
  transition: color .3s ease-in-out;
}

#instagram:hover {
  color: #cd486b;
}

#g-plus {
  transition: color .3s ease-in-out;
}

#g-plus:hover {
  color: #DD4B39;
}


/* Wrapper */

.wrapper {
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  width: 1060px;
}

h1 {
  font-family: 'Rubik', sans-serif;
  color: grey;
}

.postmeta {
  font-size: 13px;
  color: grey;
  font-family: 'Rubik', sans-serif;
}

.postmeta .date {
  margin-right: 10px;
}

.postmeta .time {
  margin-left: 10px;
}

#st-1 {
  margin-top: 5px;
}

#postimg {
  margin-top: 10px;
}

.post {
  color: black;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 26px;
}

.list li {
  margin: 5px;
}

/* Trending */

.sidebar {
  width: 350px;
  float: right;
  margin-left: 20px;
  margin-top: 60px;
}

.trending {
  float: right;
  margin-right: 10px;
  z-index: 999;
  display: block;
  text-align: center;
}

#ttitle {
  font-size: 50px;
}

.trending span {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  background: -webkit-linear-gradient(0deg, #ff4c4c, #ff385d, #fc6331);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sexy_line {
  margin-bottom: 10px;
  height: 1px;
  border: 0;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, grey));
}

.trending a {
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  color: grey;
  text-align: justify;
  transition: color .2s ease-in-out;
  float: left;
}

.trending a:hover {
  color: black;
}

.trending img {
  margin-top: 10px;
}


/* Footer */

#footer {
  text-align: center;
  color: grey;
  font-family: Tahoma, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer a {
  color: red;
  text-decoration: none;
  transition: color .2s ease-out;
}

#footer a:hover {
  color: #cd0101;
}

.darkmode {
  background: #222;
}

.darkmode h1,
.darkmode .postmeta,
.darkmode .trending a {
  color: #a9a9a9;
  transition: color .2s ease-in-out;
}

.darkmode .trending a:hover {
  color: #f2f2f2;
}

.darkmode .post,
.darkmode #footer {
  color: white;
}

.darkmode .sexy_line {
  margin-bottom: 10px;
  height: 1px;
  border: 0;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#222), to(#222), color-stop(50%, grey));
}
